
body{text-align: center;
    background: linear-gradient(to right, #1147ff, #e5f8ff)}

.info{border: 2px dashed #7cd9ff;
    margin: 20px;
    text-align: center;
    border-radius: 50px;}

h1, h2, h3{font-family: 'Pacifico', cursive;}

#miAvatar {
    display: block;
    margin-left: 0px ;
    border-radius: 10%;}